src/grammar/*.c
src/grammar/*.h
src/grammar/eagle.output

builtex/*

*.ll
*.s
*.e

obj/
eagle

# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

config.status
config.log
old.makefile
autom4te.cache/
/Makefile
src/core/config.h
src/core/config.c
examples/boggle/dict.txt
